logs/*
!.gitkeep
node_modules/
tmp
.DS_Store
.idea
.jshintrc
.travis.yml
COMO INSTALAR OS TESTES.txt
LICENSE
README.md
bower.json
bower_components/angular-cookies/.bower.json
bower_components/angular-cookies/README.md
bower_components/angular-cookies/angular-cookies.js
bower_components/angular-cookies/angular-cookies.min.js
bower_components/angular-cookies/angular-cookies.min.js.map
bower_components/angular-cookies/bower.json
bower_components/angular-loader/.bower.json
bower_components/angular-loader/README.md
bower_components/angular-loader/angular-loader.js
bower_components/angular-loader/angular-loader.min.js
bower_components/angular-loader/angular-loader.min.js.map
bower_components/angular-loader/bower.json
bower_components/angular-mocks/.bower.json
bower_components/angular-mocks/README.md
bower_components/angular-mocks/angular-mocks.js
bower_components/angular-mocks/bower.json
bower_components/angular-route/.bower.json
bower_components/angular-route/README.md
bower_components/angular-route/angular-route.js
bower_components/angular-route/angular-route.min.js
bower_components/angular-route/angular-route.min.js.map
bower_components/angular-route/bower.json
bower_components/angular-translate/.bower.json
bower_components/angular-translate/README.md
bower_components/angular-translate/angular-translate.js
bower_components/angular-translate/angular-translate.min.js
bower_components/angular-translate/bower.json
bower_components/angular/.bower.json
bower_components/angular/README.md
bower_components/angular/angular-csp.css
bower_components/angular/angular.js
bower_components/angular/angular.min.js
bower_components/angular/angular.min.js.gzip
bower_components/angular/angular.min.js.map
bower_components/angular/bower.json
package.json
test/e2e/scenarios.js
test/karma.conf.js
test/lib/angular/angular-mocks.js
test/lib/angular/version.txt
test/protractor-conf.js
test/unit/controllersSpec.js
test/unit/directivesSpec.js
test/unit/filtersSpec.js
test/unit/servicesSpec.js
