<p>This is the partial for view 1.</p>
<div>
	<h3 translate="Personal">Personal</h3>
	<div><a href="#/profile" translate="Profile" voice>Profile</a></div>
	<div><a href="#/healthmonitoring" translate="HealthMonitoring" voice>Health Monitoring</a></div>
	<div><a href="#/homemonitoring" translate="HomeMonitoring" voice>Home Monitoring</a></div>
	<div><a href="#/reminders" translate="Reminders" voice>Reminders</a></div>
	<div><a href="#/alerts" translate="Alerts" voice>AlertsAlerts</a></div>
	<div><a href="#/emails" translate="Email" voice>Email</a></div>
</div>
<div>
	<h3 translate="Social">Social</h3>
	<div><a href="#/contacts" translate="Contacts" voice>Contacts</a></div>
	<div><a href="#/chat" translate="Chat" voice>Chat</a></div>
	<div><a href="#/video" translate="Video" voice>Video</a></div>
	<div><a href="#/calendars" translate="Calendars" voice>Calendars</a></div>
	<div><a href="#/games" translate="Games" voice>Games</a></div>
</div>