<p>This is the partial for view 1.</p>
<div>
	<div>
		<h3>Linguagem: {{languagePicked}}</h3>
		<form name="LanguagePicker">
			<input type="radio" ng-model="languagePicked" value="pt" ng-change="saveLanguage('pt')">pt<br/>
			<input type="radio" ng-model="languagePicked" value="en" ng-change="saveLanguage('en')">en<br/>
		</form>
		
	</div></br>
	<div>
		<div>
			Mudança na db
		</div>
		<button class="btn" ng-click="sendLanguage('en')" >Enviar para db en</button>
		<button class="btn" ng-click="sendLanguage('pt')" >Enviar para db pt</button>
		Resposta {{sendResponse}}
	</div></br>
	<div>
		<div>Ir Buscar à db</div>
		<button class="btn" ng-click="getLanguage()" >Ir buscar à db</button>
		Resposta {{getResponse}}
	</div></br>
</div>